@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
    @apply h-screen;
  }
  textarea {
    resize: none;
  }

  .basic-multi-select .select__control {
    @apply border-red-500;
  }

  /* .basic-multi-select .select__value-container {
    @apply hidden !important;
  }

  .basic-multi-select .select__clear-indicator {
    @apply hidden !important;
  } */

  .company-name {
    word-break: break-word;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.dashboard-editor,
.editor-focus {
  flex: 1;
}
.editor .ql-editor {
  min-height: 200px !important;
  max-height: 300px;
  overflow: auto;
}
.editor-focus .ql-editor {
  min-height: 150px !important;
  max-height: 200px;
  overflow: auto;
  flex: 1;
  padding-bottom: 2rem;
}
.dashboard-editor .ql-editor {
  min-height: 50px !important;
  max-height: 75px;
  overflow: auto;
}
.dashboard-editor,
.editor-focus {
  padding-bottom: 2rem;
}
.ql-snow {
  border: none !important;
}
.ql-toolbar.ql-snow {
  position: absolute;
  bottom: 1px;
  z-index: 40;
  width: 98%;
  margin-left: 1px;
  text-align: end;
  @apply bg-white dark:bg-aa-900 purple:bg-pt-1000;
}
.ql-toolbar.ql-snow.dashboard-toolbar {
  position: absolute;
  bottom: 0;
  left: 15px;
  z-index: 40;
}
.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0 !important;
}

.ql-snow .ql-stroke {
  stroke: #64748b;
}

.ql-snow .ql-fill {
  fill: #64748b;
}

.dark .ql-snow .ql-stroke {
  stroke: #cdcecf;
}

.dark .ql-snow .ql-fill {
  fill: #cdcecf;
}

.theme-purple .ql-snow .ql-stroke {
  stroke: #d7d6ea;
}

.theme-purple .ql-snow .ql-fill {
  fill: #d7d6ea;
}

.ql-editor.ql-blank::before {
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 text-base tracking-sm;
}

.ql-editor p {
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 text-base tracking-sm;
}

.ql-editor {
  @apply bg-white dark:bg-aa-800 purple:bg-pt-800 rounded-md;
}
.theme-purple .ql-snow .ql-tooltip {
  background: #56508e !important;
  color: #ecebf5 !important;
  border: 1px solid #6f67b7 !important;
  box-shadow: 0 0 0 1px #8780c6 !important;
}
.dark .ql-snow .ql-tooltip {
  background: #202630 !important;
  color: #ecebf5 !important;
  border: 1px solid #29323e !important;
  box-shadow: 0 0 0 1px #575b62 !important;
}
.theme-purple .ql-snow .ql-tooltip input[type='text'] {
  background: #56508e !important;
  color: #ecebf5 !important;
  border: 1px solid #8780c6 !important;
}
.dark .ql-snow .ql-tooltip input[type='text'] {
  background: #202630 !important;
  color: #ecebf5 !important;
  border: 1px solid #575b62 !important;
}
.theme-purple .ql-snow .ql-tooltip input[type='text']:focus {
  box-shadow: 0 0 0 1px #a6a2d3 !important;
}
.dark .ql-snow .ql-tooltip input[type='text']:focus {
  box-shadow: 0 0 0 1px #8a8c90 !important;
}
.theme-purple .ql-snow a {
  color: #ecebf5 !important;
}
.dark .ql-snow a {
  color: #e7e8e8 !important;
}

.request-access {
  height: calc(100vh - 6rem);
}
.ql-snow .ql-tooltip {
  left: 0 !important;
  z-index: 9999 !important;
  @apply border-slate-300 dark:border-aa-600 purple:border-pt-800 !important;
}
.ql-editor .mention {
  @apply text-slate-500 bg-transparent dark:text-aa-200 purple:text-pt-200;
}
html:has(:not(:is(.modal, .drawer))) {
  overflow: auto !important;
}
html:has(:is(.modal, .drawer)) {
  overflow: hidden !important;
}
.ql-mention-list-container {
  @apply bg-white border-slate-200 dark:border-aa-600 purple:border-pt-800 shadow-lg z-40 !important;
  @apply overflow-hidden !important;
}
.ql-mention-list-item {
  @apply text-sm px-0 tracking-sm !important;
  @apply bg-slate-50 dark:bg-aa-800 purple:bg-pt-800 !important;
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 !important;
}
.ql-mention-list-item.selected {
  @apply bg-gray-50 dark:bg-aa-600 purple:bg-pt-600 !important;
}
.mention {
  @apply text-blue-700 dark:text-aa-200 purple:text-pt-200 bg-transparent cursor-pointer select-none p-0 m-0 !important;
}
.mention-suggestion {
  @apply flex items-center gap-2 text-slate-500 p-4 tracking-[-0.4px] cursor-pointer hover:bg-slate-100 hover:dark:bg-aa-700 hover:purple:bg-pt-700;
}
.mention-avatar {
  @apply w-7 h-7 rounded-full object-cover;
}
.mention-default-avatar {
  @apply relative inline-flex items-center justify-center cursor-pointer overflow-hidden bg-gray-200 rounded-full dark:bg-gray-600  purple:bg-pt-300 w-7 h-7;
}
.mention-avatar-name {
  @apply font-medium text-gray-600 dark:text-gray-300 text-xs tracking-[-0.15em];
}
.mention-name {
  @apply text-slate-700 dark:text-aa-200 purple:text-pt-200 text-sm font-medium tracking-sm flex-1 truncate;
}
.mention-email {
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 text-xs font-medium tracking-sm truncate;
}
.mention > span {
  @apply m-0 !important;
}

.rdrDefinedRangesWrapper {
  width: 100% !important;
  @apply border-none !important;
}
.rdrDayNumber span {
  @apply dark:text-aa-200 purple:text-pt-200 !important;
}

.rdrStaticRanges {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
}
.rdrStaticRangeLabel {
  @apply text-inherit text-sm font-medium tracking-sm !important;
  text-align: center !important;
}
.rdrDateDisplayWrapper,
.rdrInputRanges {
  display: none;
}
.rdrDateRangeWrapper,
.rdrStaticRange {
  @apply bg-white dark:bg-aa-900 purple:bg-pt-1000 !important;
}
.rdrStaticRange {
  @apply border border-slate-300 dark:border-aa-600 purple:border-pt-800 !important;
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 !important;
}

.rdrDayDisabled {
  @apply bg-inherit !important;
}
.rdrInRange {
  @apply bg-indigo-500 dark:bg-aa-600 purple:bg-pt-600 !important;
}

.rdrDayDisabled .rdrInRange {
  @apply bg-gray-400 dark:bg-aa-600 purple:bg-pt-600 bg-opacity-90 dark:bg-opacity-20 purple:bg-opacity-20  !important;
}
.rdrDayToday .rdrDayNumber span:after {
  @apply bg-indigo-500 dark:bg-aa-200 purple:bg-pt-200 !important;
}
.rdrDayHovered,
.rdrDayStartEdge,
.rdrDayEndEdge,
.rdrDaySelected {
  @apply border-indigo-500 dark:border-aa-200 purple:border-pt-200 !important;
}

.rdrStartEdge,
.rdrEndEdge {
  @apply bg-indigo-500 dark:bg-aa-600 purple:bg-pt-600 !important;
}
.rdrDateInput {
  @apply bg-white dark:bg-aa-900 purple:bg-pt-1000 !important;
  @apply border border-gray-300 dark:border-aa-400 purple:border-pt-400 !important;
}
.rdrDateInput input {
  @apply placeholder:text-slate-500 dark:placeholder-aa-200 purple:placeholder-pt-200 !important;
}
.rdrDateDisplayItemActive input,
.rdrMonthPicker select,
.rdrYearPicker select,
.rdrMonthName,
.rdrWeekDay {
  @apply text-slate-500 dark:text-aa-200 purple:text-aa-200 !important;
}

.rdrNextPrevButton,
.rdrNextButton {
  @apply bg-slate-100 dark:bg-aa-600 purple:bg-pt-600 !important;
}

.rdrNextButton i {
  @apply border-l-slate-300 dark:border-l-aa-300 purple:border-l-pt-300 !important;
}
.rdrPprevButton i {
  @apply border-r-slate-300 dark:border-r-aa-300 purple:border-r-pt-300 !important;
}
.rdrNextPrevButton.rdrNextButton:hover,
.rdrNextPrevButton.rdrPprevButton:hover {
  @apply bg-slate-200 dark:bg-aa-500 purple:bg-pt-500 !important;
}
.rdrStaticRange:hover .rdrStaticRangeLabel,
.rdrStaticRange:focus .rdrStaticRangeLabel {
  @apply bg-slate-100 dark:bg-aa-600 purple:bg-pt-600 !important;
}
.rdrInRange + .rdrDayNumber span,
.rdrStartEdge + .rdrDayNumber span,
.rdrEndEdge + .rdrDayNumber span {
  @apply text-slate-100 !important;
}

.rdrDayDisabled .rdrInRange + .rdrDayNumber span {
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 !important;
}
.rdrDayPassive .rdrInRange + .rdrDayNumber span {
  @apply text-slate-500  !important;
}
.rdrDay.rdrDayDisabled .rdrDayNumber span,
.rdrDay.rdrDayPassive .rdrDayNumber span {
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 !important;
}

@layer components {
  .base-tooltip {
    @apply bg-slate-50 dark:bg-aa-700 purple:bg-pt-900;
    @apply text-slate-600 dark:text-aa-200 purple:text-pt-200;

    font-size: 90%;
    padding: 4px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    width: max-content;
    max-width: calc(100vw - 10px);
  }
  .base-tooltip::after {
    content: '';
    position: absolute;
    left: 1/2;
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }
}
#editor-container {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.2em;
  height: 100%;
  width: 100%;
  position: relative;
}
#editor-container .ql-editor {
  min-height: 100%;
  max-height: 66vh;
  height: inherit;
  overflow-y: inherit;
  padding: 0 0 75px 0 !important;
  outline: none;
  background: inherit;
}
#editor-container .ql-editor::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  @apply text-gray-500;
}
#editor-container .ql-editor > * {
  margin-top: 1.5em;
}
#editor-container .ql-editor iframe {
  width: 854px;
  height: 450px;
}
#editor-container .ql-editor > *:last-child {
  margin-bottom: 50px;
}
#editor-container h1,
#editor-container h2 {
  margin-top: 0.5em;
}
#editor-container blockquote {
  border-left: 4px solid #111;
  padding-left: 1em;
}
#editor-container h1 {
  font-size: 32pt;
}
#editor-container h2 {
  font-size: 26pt;
}
.ql-divider {
  color: #111;
  letter-spacing: 1em;
  text-align: center;
  display: block;
  border: 0;
  overflow: visible;
  margin-top: 52px;
  margin-bottom: 42px;
}
.ql-divider:before {
  content: '...';
  --x-height-multiplier: 0.342;
  --baseline-multiplier: 0.22;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 0.6em;
}
#editor-container pre.ql-syntax,
#editor-container code.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
#editor-container pre,
#editor-container code {
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}
#editor-container .link {
  text-decoration: underline;
  cursor: pointer;
}
#editor-container button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  text-align: center;
}
#editor-container button:active,
#editor-container button:focus {
  outline: none;
}

#tooltip-controls::before {
  box-sizing: border-box;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: ' ';
  display: block;
  height: 6px;
  left: 50%;
  position: absolute;
  margin-left: -6px;
  margin-top: -6px;
  top: 0;
  width: 6px;
}

#sidebar-controls {
  display: none;
  position: absolute;
}

#sidebar-controls button {
  background-color: transparent;
  border: none;
}
@media only screen and (max-width: 1300px) {
  #sidebar-controls button {
    position: relative;
    left: 2vw;
  }
}
@media only screen and (max-width: 680px) {
  #sidebar-controls button {
    position: relative;
    left: 3vw;
  }
}

#sidebar-controls .controls {
  display: none;
  margin-left: 15px;
}

#sidebar-controls.active .controls {
  display: inline-flex;
}
.arrowClip {
  clip: rect(10px 20px 20px 0);
}
.tooltip {
  background-image: linear-gradient(to bottom, rgba(49, 49, 47, 0.99), #262625);
}
.tooltip span {
  background-color: #262625;
}

.quill > .ql-container {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  border-radius: 0.375rem;
}

#toolbar {
  border: none;
}
.react-datepicker-wrapper {
  width: initial !important;
}

.icon {
  @apply stroke-slate-500 dark:stroke-aa-200 purple:stroke-pt-200;
}
.icon-indigo {
  @apply stroke-indigo-600 dark:stroke-aa-200 purple:stroke-pt-200;
}

.icon-purple {
  @apply stroke-indigo-900 dark:stroke-aa-200 purple:stroke-pt-200;
}
.icon-red {
  @apply stroke-red-500 dark:stroke-red-600 purple:stroke-red-600;
}
.icon-green {
  @apply stroke-green-500 dark:stroke-green-600 purple:stroke-green-600;
}
.icon-slate {
  @apply stroke-slate-100 dark:stroke-aa-200 purple:stroke-pt-200;
}
svg {
  stroke: inherit;
}
