@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
    @apply h-screen;
  }
  textarea {
    resize: none;
  }

  .basic-multi-select .select__control {
    @apply border-red-500;
  }

  /* .basic-multi-select .select__value-container {
    @apply hidden !important;
  }

  .basic-multi-select .select__clear-indicator {
    @apply hidden !important;
  } */

  .company-name {
    word-break: break-word;
  }
}
.ql-editor {
  min-height: 200px !important;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}
.ql-snow {
  border: none !important;
}
.ql-toolbar.ql-snow {
  position: absolute;
  bottom: 0;
  right: 2px;
  z-index: 40;
}
.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0 !important;
}
.ql-editor {
  overflow: hidden !important;
}

.ql-snow .ql-stroke {
  stroke: #64748b;
}

.ql-snow .ql-fill {
  fill: #64748b;
}

.dark .ql-snow .ql-stroke {
  stroke: #cdcecf;
}

.dark .ql-snow .ql-fill {
  fill: #cdcecf;
}

.theme-purple .ql-snow .ql-stroke {
  stroke: #d7d6ea;
}

.theme-purple .ql-snow .ql-fill {
  fill: #d7d6ea;
}

.ql-editor.ql-blank::before {
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 text-base tracking-sm;
}

.ql-editor p {
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 text-base tracking-sm;
}

.ql-editor {
  @apply bg-white dark:bg-aa-800 purple:bg-pt-800 rounded-md;
}
.theme-purple .ql-snow .ql-tooltip {
  background: #56508e !important;
  color: #ecebf5 !important;
  border: 1px solid #6f67b7 !important;
  box-shadow: 0 0 0 1px #8780c6 !important;
}
.dark .ql-snow .ql-tooltip {
  background: #202630 !important;
  color: #ecebf5 !important;
  border: 1px solid #29323e !important;
  box-shadow: 0 0 0 1px #575b62 !important;
}
.theme-purple .ql-snow .ql-tooltip input[type='text'] {
  background: #56508e !important;
  color: #ecebf5 !important;
  border: 1px solid #8780c6 !important;
}
.dark .ql-snow .ql-tooltip input[type='text'] {
  background: #202630 !important;
  color: #ecebf5 !important;
  border: 1px solid #575b62 !important;
}
.theme-purple .ql-snow .ql-tooltip input[type='text']:focus {
  box-shadow: 0 0 0 1px #a6a2d3 !important;
}
.dark .ql-snow .ql-tooltip input[type='text']:focus {
  box-shadow: 0 0 0 1px #8a8c90 !important;
}
.theme-purple .ql-snow a {
  color: #ecebf5 !important;
}
.dark .ql-snow a {
  color: #e7e8e8 !important;
}

.request-access {
  height: calc(100vh - 6rem);
}
.ql-snow .ql-tooltip {
  left: 0 !important;
  @apply border-slate-300 dark:border-aa-600 purple:border-pt-800 !important;
}
.ql-editor .mention {
  @apply text-slate-500 bg-transparent dark:text-aa-100 purple:text-pt-100;
}
html:has(:not(:is(.modal, .drawer))) {
  overflow: auto !important;
}
html:has(:is(.modal, .drawer)) {
  overflow: hidden !important;
}
.ql-mention-list-container {
  @apply border-slate-300 dark:border-aa-1000 purple:border-pt-1000 !important;
  @apply shadow-lg !important;
  @apply overflow-hidden !important;
}
.ql-mention-list-item {
  @apply text-sm tracking-sm p-4 !important;
  @apply bg-slate-50 dark:bg-aa-800 purple:bg-pt-800 !important;
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 !important;
}
.ql-mention-list-item:hover {
  @apply bg-slate-100 dark:bg-aa-700 purple:bg-pt-700 !important;
}
.ql-mention-list-item.selected {
  @apply bg-slate-200 dark:bg-aa-600 purple:bg-pt-600 !important;
}
