@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
    @apply h-screen;
  }
  textarea {
    resize: none;
  }

  .basic-multi-select .select__control {
    @apply border-red-500;
  }

  /* .basic-multi-select .select__value-container {
    @apply hidden !important;
  }

  .basic-multi-select .select__clear-indicator {
    @apply hidden !important;
  } */

  .company-name {
    word-break: break-word;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.dashboard-editor,
.editor-focus {
  flex: 1;
}
.editor .ql-editor {
  min-height: 200px !important;
  max-height: 300px;
  overflow: auto;
}
.editor-focus .ql-editor {
  min-height: 150px !important;
  max-height: 200px;
  overflow: auto;
  flex: 1;
}
.dashboard-editor .ql-editor {
  min-height: 50px !important;
  max-height: 75px;
  overflow: auto;
}
.ql-snow {
  border: none !important;
}
.ql-toolbar.ql-snow {
  position: absolute;
  bottom: 0;
  right: 2px;
  z-index: 40;
}
.ql-toolbar.ql-snow.dashboard-toolbar {
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 40;
}
.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0 !important;
}

.ql-snow .ql-stroke {
  stroke: #64748b;
}

.ql-snow .ql-fill {
  fill: #64748b;
}

.dark .ql-snow .ql-stroke {
  stroke: #cdcecf;
}

.dark .ql-snow .ql-fill {
  fill: #cdcecf;
}

.theme-purple .ql-snow .ql-stroke {
  stroke: #d7d6ea;
}

.theme-purple .ql-snow .ql-fill {
  fill: #d7d6ea;
}

.ql-editor.ql-blank::before {
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 text-base tracking-sm;
}

.ql-editor p {
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 text-base tracking-sm;
}

.ql-editor {
  @apply bg-white dark:bg-aa-800 purple:bg-pt-800 rounded-md;
}
.theme-purple .ql-snow .ql-tooltip {
  background: #56508e !important;
  color: #ecebf5 !important;
  border: 1px solid #6f67b7 !important;
  box-shadow: 0 0 0 1px #8780c6 !important;
}
.dark .ql-snow .ql-tooltip {
  background: #202630 !important;
  color: #ecebf5 !important;
  border: 1px solid #29323e !important;
  box-shadow: 0 0 0 1px #575b62 !important;
}
.theme-purple .ql-snow .ql-tooltip input[type='text'] {
  background: #56508e !important;
  color: #ecebf5 !important;
  border: 1px solid #8780c6 !important;
}
.dark .ql-snow .ql-tooltip input[type='text'] {
  background: #202630 !important;
  color: #ecebf5 !important;
  border: 1px solid #575b62 !important;
}
.theme-purple .ql-snow .ql-tooltip input[type='text']:focus {
  box-shadow: 0 0 0 1px #a6a2d3 !important;
}
.dark .ql-snow .ql-tooltip input[type='text']:focus {
  box-shadow: 0 0 0 1px #8a8c90 !important;
}
.theme-purple .ql-snow a {
  color: #ecebf5 !important;
}
.dark .ql-snow a {
  color: #e7e8e8 !important;
}

.request-access {
  height: calc(100vh - 6rem);
}
.ql-snow .ql-tooltip {
  left: 0 !important;
  @apply border-slate-300 dark:border-aa-600 purple:border-pt-800 !important;
}
.ql-editor .mention {
  @apply text-slate-500 bg-transparent dark:text-aa-200 purple:text-pt-200;
}
html:has(:not(:is(.modal, .drawer))) {
  overflow: auto !important;
}
html:has(:is(.modal, .drawer)) {
  overflow: hidden !important;
}
.ql-mention-list-container {
  @apply border-slate-300 dark:border-aa-1000 purple:border-pt-1000 !important;
  @apply shadow-lg !important;
  @apply overflow-hidden !important;
}
.ql-mention-list-item {
  @apply text-sm tracking-sm p-4 !important;
  @apply bg-slate-50 dark:bg-aa-800 purple:bg-pt-800 !important;
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 !important;
}
.ql-mention-list-item:hover {
  @apply bg-slate-100 dark:bg-aa-700 purple:bg-pt-700 !important;
}
.ql-mention-list-item.selected {
  @apply bg-slate-200 dark:bg-aa-600 purple:bg-pt-600 !important;
}
.mention {
  @apply text-blue-700 dark:text-blue-400 purple:text-blue-400 bg-transparent cursor-pointer select-none !important;
}
.mention-suggestion {
  @apply flex items-center gap-2 text-slate-500 tracking-[-0.4px] cursor-pointer;
}
.mention-avatar {
  @apply rounded-full object-contain w-7 h-7;
}
.mention-default-avatar {
  @apply relative inline-flex items-center justify-center cursor-pointer overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600  purple:bg-pt-300 w-7 h-7;
}
.mention-avatar-name {
  @apply font-medium text-gray-600 dark:text-gray-300 text-xs;
}
.mention-name {
  @apply text-slate-700 dark:text-aa-200 purple:text-pt-200 text-sm font-medium tracking-sm flex-1 truncate;
}
.mention-email {
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 text-xs font-medium tracking-sm truncate;
}

.rdrDefinedRangesWrapper {
  width: 100% !important;
}
.rdrStaticRanges {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
}
.rdrStaticRangeLabel {
  @apply text-inherit text-sm font-medium tracking-sm !important;
  text-align: center !important;
}
.rdrInputRanges {
  display: none;
}
.rdrDateRangeWrapper,
.rdrStaticRange,
.rdrDateDisplayWrapper {
  @apply bg-white dark:bg-aa-900 purple:bg-pt-1000 !important;
}
.rdrStaticRange,
.rdrDay {
  @apply border border-slate-300 dark:border-aa-600 purple:border-pt-800 !important;
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 !important;
}
.rdrDayDisabled {
  @apply bg-inherit !important;
}
.rdrInRange {
  @apply bg-indigo-500 dark:bg-aa-600 purple:bg-pt-600 !important;
}

.rdrDayDisabled .rdrInRange {
  @apply bg-gray-200 dark:bg-aa-300 purple:bg-pt-300 bg-opacity-90 dark:bg-opacity-20 purple:bg-opacity-20  !important;
}
.rdrDayToday .rdrDayNumber span:after {
  @apply bg-indigo-500 dark:bg-aa-200 purple:bg-pt-200 !important;
}
.rdrDayHovered,
.rdrDayStartEdge,
.rdrDayEndEdge,
.rdrDaySelected {
  @apply border-indigo-500 dark:border-aa-200 purple:border-pt-200 !important;
}
.rdrDayNumber span {
  @apply text-slate-500 dark:text-aa-200 purple:text-aa-200 !important;
}
.rdrStartEdge,
.rdrEndEdge {
  @apply bg-indigo-500 dark:bg-aa-600 purple:bg-pt-600 !important;
}
.rdrDateInput {
  @apply bg-white dark:bg-aa-900 purple:bg-pt-1000 !important;
  @apply border border-gray-300 dark:border-aa-400 purple:border-pt-400 !important;
}
.rdrDateInput input {
  @apply placeholder:text-slate-500 dark:placeholder-aa-200 purple:placeholder-pt-200 !important;
}
.rdrDateDisplayItemActive input,
.rdrMonthPicker select,
.rdrYearPicker select,
.rdrMonthName,
.rdrWeekDay {
  @apply text-slate-500 dark:text-aa-200 purple:text-aa-200 !important;
}

.rdrNextPrevButton,
.rdrNextButton {
  @apply bg-slate-100 dark:bg-aa-600 purple:bg-pt-600 !important;
}

.rdrNextButton i {
  @apply border-l-slate-300 dark:border-l-aa-300 purple:border-l-pt-300 !important;
}
.rdrPprevButton i {
  @apply border-r-slate-300 dark:border-r-aa-300 purple:border-r-pt-300 !important;
}
.rdrNextPrevButton.rdrNextButton:hover,
.rdrNextPrevButton.rdrPprevButton:hover {
  @apply bg-slate-200 dark:bg-aa-500 purple:bg-pt-500 !important;
}
.rdrStaticRange:hover .rdrStaticRangeLabel,
.rdrStaticRange:focus .rdrStaticRangeLabel {
  @apply bg-slate-100 dark:bg-aa-600 purple:bg-pt-600 !important;
}
.rdrDefinedRangesWrapper {
  @apply border-none !important;
}
.rdrInRange + .rdrDayNumber span {
  @apply text-slate-100 !important;
}
.rdrDayDisabled .rdrInRange + .rdrDayNumber span {
  @apply text-slate-500 dark:text-aa-200 purple:text-pt-200 !important;
}
.rdrDayPassive .rdrInRange + .rdrDayNumber span {
  @apply text-slate-500  !important;
}
